*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

@-webkit-keyframes jump-0 {
  0% {
    top: 10px;
  }
  25% {
    top: 20px;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 0;
  }
  100% {
    top: 10px;
  }
}

@keyframes jump-0 {
  0% {
    top: 10px;
  }
  25% {
    top: 20px;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 0;
  }
  100% {
    top: 10px;
  }
}

@-webkit-keyframes jump-1 {
  0% {
    top: 20px;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 20px;
  }
}

@keyframes jump-1 {
  0% {
    top: 20px;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 20px;
  }
}

@-webkit-keyframes jump-2 {
  0% {
    top: 10px;
  }
  25% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 10px;
  }
}

@keyframes jump-2 {
  0% {
    top: 10px;
  }
  25% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 10px;
  }
}

@-webkit-keyframes jump-3 {
  0% {
    top: 0;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 20px;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

@keyframes jump-3 {
  0% {
    top: 0;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 20px;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

header {
  background-color: black;
  padding: 100px 0;
}

header h1 {
  color: white;
  text-align: center;
  font-size: 4em;
}

header .dots {
  position: relative;
  height: 35px;
  width: 300px;
  margin: 0 auto;
}

header .dots .dot {
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 100%;
}

header .dots .dot:nth-child(1) {
  background-color: #10e010;
  left: 0px;
  -webkit-animation: jump-1 1.4s linear infinite;
          animation: jump-1 1.4s linear infinite;
}

header .dots .dot:nth-child(2) {
  background-color: #10e052;
  left: 15px;
  -webkit-animation: jump-2 1.4s linear infinite;
          animation: jump-2 1.4s linear infinite;
}

header .dots .dot:nth-child(3) {
  background-color: #10e093;
  left: 30px;
  -webkit-animation: jump-3 1.4s linear infinite;
          animation: jump-3 1.4s linear infinite;
}

header .dots .dot:nth-child(4) {
  background-color: #10e0d5;
  left: 45px;
  -webkit-animation: jump-0 1.4s linear infinite;
          animation: jump-0 1.4s linear infinite;
}

header .dots .dot:nth-child(5) {
  background-color: #10a9e0;
  left: 60px;
  -webkit-animation: jump-1 1.4s linear infinite;
          animation: jump-1 1.4s linear infinite;
}

header .dots .dot:nth-child(6) {
  background-color: #1068e0;
  left: 75px;
  -webkit-animation: jump-2 1.4s linear infinite;
          animation: jump-2 1.4s linear infinite;
}

header .dots .dot:nth-child(7) {
  background-color: #1026e0;
  left: 90px;
  -webkit-animation: jump-3 1.4s linear infinite;
          animation: jump-3 1.4s linear infinite;
}

header .dots .dot:nth-child(8) {
  background-color: #3c10e0;
  left: 105px;
  -webkit-animation: jump-0 1.4s linear infinite;
          animation: jump-0 1.4s linear infinite;
}

header .dots .dot:nth-child(9) {
  background-color: #7d10e0;
  left: 120px;
  -webkit-animation: jump-1 1.4s linear infinite;
          animation: jump-1 1.4s linear infinite;
}

header .dots .dot:nth-child(10) {
  background-color: #bf10e0;
  left: 135px;
  -webkit-animation: jump-2 1.4s linear infinite;
          animation: jump-2 1.4s linear infinite;
}

header .dots .dot:nth-child(11) {
  background-color: #e010bf;
  left: 150px;
  -webkit-animation: jump-3 1.4s linear infinite;
          animation: jump-3 1.4s linear infinite;
}

header .dots .dot:nth-child(12) {
  background-color: #e0107d;
  left: 165px;
  -webkit-animation: jump-0 1.4s linear infinite;
          animation: jump-0 1.4s linear infinite;
}

header .dots .dot:nth-child(13) {
  background-color: #e0103c;
  left: 180px;
  -webkit-animation: jump-1 1.4s linear infinite;
          animation: jump-1 1.4s linear infinite;
}

header .dots .dot:nth-child(14) {
  background-color: #e02610;
  left: 195px;
  -webkit-animation: jump-2 1.4s linear infinite;
          animation: jump-2 1.4s linear infinite;
}

header .dots .dot:nth-child(15) {
  background-color: #e06810;
  left: 210px;
  -webkit-animation: jump-3 1.4s linear infinite;
          animation: jump-3 1.4s linear infinite;
}

header .dots .dot:nth-child(16) {
  background-color: #e0a910;
  left: 225px;
  -webkit-animation: jump-0 1.4s linear infinite;
          animation: jump-0 1.4s linear infinite;
}

header .dots .dot:nth-child(17) {
  background-color: #d5e010;
  left: 240px;
  -webkit-animation: jump-1 1.4s linear infinite;
          animation: jump-1 1.4s linear infinite;
}

header .dots .dot:nth-child(18) {
  background-color: #93e010;
  left: 255px;
  -webkit-animation: jump-2 1.4s linear infinite;
          animation: jump-2 1.4s linear infinite;
}

header .dots .dot:nth-child(19) {
  background-color: #52e010;
  left: 270px;
  -webkit-animation: jump-3 1.4s linear infinite;
          animation: jump-3 1.4s linear infinite;
}

header .dots .dot:nth-child(20) {
  background-color: #10e010;
  left: 285px;
  -webkit-animation: jump-0 1.4s linear infinite;
          animation: jump-0 1.4s linear infinite;
}

.container {
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 0;
}

.container h2 {
  padding-bottom: 0.6em;
}

.container p {
  line-height: 1.6em;
  text-align: justify;
}

.container .section-img {
  width: 300px;
  margin: 0 auto;
  margin-top: 2em;
}

section:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.678);
}

section:nth-of-type(even) p {
  color: white;
}

section:nth-of-type(1) h2 {
  color: #10e010;
}

section:nth-of-type(1) button {
  text-transform: uppercase;
  padding: 0.8em 2.4em;
  margin-top: 1em;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  background-color: #10e010;
  border: 2px solid transparent;
}

section:nth-of-type(1) button:hover {
  background-color: white;
  border: 2px solid #10e010;
  cursor: pointer;
}

section:nth-of-type(2) h2 {
  color: #1078e0;
}

section:nth-of-type(2) button {
  text-transform: uppercase;
  padding: 0.8em 2.4em;
  margin-top: 1em;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  background-color: #1078e0;
  border: 2px solid transparent;
}

section:nth-of-type(2) button:hover {
  background-color: white;
  border: 2px solid #1078e0;
  cursor: pointer;
}

section:nth-of-type(3) h2 {
  color: #e010e0;
}

section:nth-of-type(3) button {
  text-transform: uppercase;
  padding: 0.8em 2.4em;
  margin-top: 1em;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  background-color: #e010e0;
  border: 2px solid transparent;
}

section:nth-of-type(3) button:hover {
  background-color: white;
  border: 2px solid #e010e0;
  cursor: pointer;
}

section:nth-of-type(4) h2 {
  color: #e07810;
}

section:nth-of-type(4) button {
  text-transform: uppercase;
  padding: 0.8em 2.4em;
  margin-top: 1em;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  background-color: #e07810;
  border: 2px solid transparent;
}

section:nth-of-type(4) button:hover {
  background-color: white;
  border: 2px solid #e07810;
  cursor: pointer;
}

@media (min-width: 800px) {
  .container {
    max-width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section:nth-of-type(even) .section-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 50px;
  }
  section:nth-of-type(odd) .section-text {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=main.css.map */