*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

@-webkit-keyframes jump-0 {
  0% {
    top: 10px;
  }
  25% {
    top: 20px;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 0;
  }
  100% {
    top: 10px;
  }
}

@keyframes jump-0 {
  0% {
    top: 10px;
  }
  25% {
    top: 20px;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 0;
  }
  100% {
    top: 10px;
  }
}

@-webkit-keyframes jump-1 {
  0% {
    top: 20px;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 20px;
  }
}

@keyframes jump-1 {
  0% {
    top: 20px;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 20px;
  }
}

@-webkit-keyframes jump-2 {
  0% {
    top: 10px;
  }
  25% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 10px;
  }
}

@keyframes jump-2 {
  0% {
    top: 10px;
  }
  25% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 10px;
  }
}

@-webkit-keyframes jump-3 {
  0% {
    top: 0;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 20px;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

@keyframes jump-3 {
  0% {
    top: 0;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 20px;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

header {
  background-color: black;
  padding: 100px 0;
}

header h1 {
  color: white;
  text-align: center;
  font-size: 4em;
}

header .dots {
  position: relative;
  height: 35px;
  width: 300px;
  margin: 0 auto;
}

header .dots .dot {
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 100%;
}

header .dots .dot:nth-child(1) {
  background-color: orangered;
  left: 0px;
  -webkit-animation: jump-1 1.4s linear infinite;
          animation: jump-1 1.4s linear infinite;
}

header .dots .dot:nth-child(2) {
  background-color: #ff9600;
  left: 15px;
  -webkit-animation: jump-2 1.4s linear infinite;
          animation: jump-2 1.4s linear infinite;
}

header .dots .dot:nth-child(3) {
  background-color: #ffe600;
  left: 30px;
  -webkit-animation: jump-3 1.4s linear infinite;
          animation: jump-3 1.4s linear infinite;
}

header .dots .dot:nth-child(4) {
  background-color: #c7ff00;
  left: 45px;
  -webkit-animation: jump-0 1.4s linear infinite;
          animation: jump-0 1.4s linear infinite;
}

header .dots .dot:nth-child(5) {
  background-color: #77ff00;
  left: 60px;
  -webkit-animation: jump-1 1.4s linear infinite;
          animation: jump-1 1.4s linear infinite;
}

header .dots .dot:nth-child(6) {
  background-color: #26ff00;
  left: 75px;
  -webkit-animation: jump-2 1.4s linear infinite;
          animation: jump-2 1.4s linear infinite;
}

header .dots .dot:nth-child(7) {
  background-color: #00ff2a;
  left: 90px;
  -webkit-animation: jump-3 1.4s linear infinite;
          animation: jump-3 1.4s linear infinite;
}

header .dots .dot:nth-child(8) {
  background-color: #00ff7b;
  left: 105px;
  -webkit-animation: jump-0 1.4s linear infinite;
          animation: jump-0 1.4s linear infinite;
}

header .dots .dot:nth-child(9) {
  background-color: #00ffcb;
  left: 120px;
  -webkit-animation: jump-1 1.4s linear infinite;
          animation: jump-1 1.4s linear infinite;
}

header .dots .dot:nth-child(10) {
  background-color: #00e2ff;
  left: 135px;
  -webkit-animation: jump-2 1.4s linear infinite;
          animation: jump-2 1.4s linear infinite;
}

header .dots .dot:nth-child(11) {
  background-color: #0092ff;
  left: 150px;
  -webkit-animation: jump-3 1.4s linear infinite;
          animation: jump-3 1.4s linear infinite;
}

header .dots .dot:nth-child(12) {
  background-color: #0041ff;
  left: 165px;
  -webkit-animation: jump-0 1.4s linear infinite;
          animation: jump-0 1.4s linear infinite;
}

header .dots .dot:nth-child(13) {
  background-color: #0f00ff;
  left: 180px;
  -webkit-animation: jump-1 1.4s linear infinite;
          animation: jump-1 1.4s linear infinite;
}

header .dots .dot:nth-child(14) {
  background-color: #6000ff;
  left: 195px;
  -webkit-animation: jump-2 1.4s linear infinite;
          animation: jump-2 1.4s linear infinite;
}

header .dots .dot:nth-child(15) {
  background-color: #b000ff;
  left: 210px;
  -webkit-animation: jump-3 1.4s linear infinite;
          animation: jump-3 1.4s linear infinite;
}

header .dots .dot:nth-child(16) {
  background-color: #ff00fd;
  left: 225px;
  -webkit-animation: jump-0 1.4s linear infinite;
          animation: jump-0 1.4s linear infinite;
}

header .dots .dot:nth-child(17) {
  background-color: #ff00ad;
  left: 240px;
  -webkit-animation: jump-1 1.4s linear infinite;
          animation: jump-1 1.4s linear infinite;
}

header .dots .dot:nth-child(18) {
  background-color: #ff005c;
  left: 255px;
  -webkit-animation: jump-2 1.4s linear infinite;
          animation: jump-2 1.4s linear infinite;
}

header .dots .dot:nth-child(19) {
  background-color: #ff000c;
  left: 270px;
  -webkit-animation: jump-3 1.4s linear infinite;
          animation: jump-3 1.4s linear infinite;
}

header .dots .dot:nth-child(20) {
  background-color: orangered;
  left: 285px;
  -webkit-animation: jump-0 1.4s linear infinite;
          animation: jump-0 1.4s linear infinite;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.container .section-text {
  padding: 0 10%;
}

section:nth-child(odd) {
  background: rgba(0, 0, 0, 0.678);
}

section:nth-child(odd) .section-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

section:nth-child(odd) p {
  color: white;
}

section:nth-child(1) h2 {
  color: orangered;
}

section:nth-child(2) h2 {
  color: #3bff00;
}

section:nth-child(3) h2 {
  color: #00baff;
}

section:nth-child(4) h2 {
  color: #c500ff;
}
/*# sourceMappingURL=main.css.map */