$dot-size: 15px;
$total-dots: 20;
$start-color: rgb(16, 224, 16);
$dot-jump: 10px;
$wave-length: 1.4s;
$heading-font: 'Roboto', sans-serif;
$main-font: 'Lato', sans-serif;

$start-positions: (
    0: $dot-jump, 
    1: $dot-jump * 2, 
    2: $dot-jump,
    3: 0
);


$content-width-large: 900px;
$content-width-small: 500px;


$section-colors: (
    1: adjust-hue($color: $start-color, $degrees: (0)),
    2: adjust-hue($color: $start-color, $degrees: (360/4)),
    3: adjust-hue($color: $start-color, $degrees: (360/4*2)),
    4: adjust-hue($color: $start-color, $degrees: (360/4*3))
);